<h1>Login</h1>
<form action="/api/sessions/login" method="POST">
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Contraseña" required>
  <button type="submit">Ingresar</button>
</form>
<a href="/register">No tenes cuenta? Registrarse</a>
